.title{background:url(../images/beverage_title_bg.jpg) center}

.bev_tab{border-bottom:1px solid #e0e0e0}
.bev_tab ul{width:750px;margin:auto;overflow:hidden}
.bev_tab li{float:left;width:150px;height:50px;line-height:50px;text-align:center}
.bev_tab li:hover{color:#d0112b}
.bev_tab li.currently{border-bottom:3px solid #d0112b;box-sizing: border-box;color:#d0112b}

.bev_menu{width:1200px;margin:auto}
.bev_menu ul{overflow:hidden}
.bev_menu li{float:left;margin:0 35px;text-align:center;margin:50px 35px 0}
.bev_menu li img{width:200px;height:200px;transition:0.2s}
.bev_menu li span.brd{display:block;width:230px;height:230px;text-align:center;box-sizing: border-box;border:2px solid #e0e0e0;border-radius:120px;overflow:hidden;padding-top:15px;margin-bottom:20px}
.bev_menu li span.eng{display:block;color:#d0112b;margin-top:5px;font-size:13px}
.bev_menu li:hover span{border-color:#d0112b}
.bev_menu li:hover img{width:210px;height:210px}

.coffee span.brd{display:block;width:230px;height:230px;box-sizing:border-box;border:2px solid #d0112b;border-radius:120px;overflow:hidden;padding:15px;position:absolute;top:40px;left:100px}
.coffee{width:1200px;margin:50px auto 0;padding-left:450px;box-sizing:border-box;position:relative}
.coffee h3{font-weight:normal;font-size:25px;margin-bottom:10px}
.coffee .eng{font-size:20px;margin-bottom:43px;color:#d0112b}
.coffee .price{margin-bottom:43px;line-height:27px}
.coffee .price_icon{display:inline-block; width:27px;height:27px;background:url(../images/price.png);text-indent:-9999px;margin-right:10px}
.coffee dt{margin-bottom:20px}
table,th,td{border:0}
.coffee table{width:750px}
.coffee table th{background:#e0e0e0;line-height:50px;text-align:center}
.coffee table td{border-bottom:1px solid #e0e0e0;line-height:50px;text-align:center}

.content a.back_btn{display:block;width:200px;margin:50px auto 0;line-height:50px;height:50px;background:#166936;color:#fff;text-align:center}
