@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Nanum+Gothic&display=swap');

body,h1,h2,h3,p,div,ul,li,dl,dt,dd{margin:0;padding:0}
ul,li{list-style:none}
a{text-decoration:none;color:#000}
address{font-style:normal}
body,textarea,input{font-family:'Nanum Gothic', sans-serif,"맑은 고딕","돋움";font-size:15px}
th{font-weight:normal}
table{border-spacing:0}
.hide_text{position:absolute;left:-9999px;top:-9999px}
.spanblock{display:block}
.bold{font-weight:bold}
.redtxt{color:#d0112b}
* {-webkit-text-size-adjust:none}

.h_skip{position:relative;z-index:1000}
.h_skip>a{display:block;width:150px;background: #222;height:40px;text-align: center;line-height: 40px;color:#fff;position: absolute;top:-50px;display:none}

/*header*/
.header{position:fixed;width:100%;z-index:1}
.header_bottom_wrap{height:85px;background:rgba(0,0,0,0.3);transition:background 0.2s}
.mh_scrolldown{background:rgba(255,255,255,1);box-shadow:5px 5px 5px rgba(0,0,0,0.2)}
.mh_hover{background:rgba(255,255,255,1)}
.header_bottom{width:1200px;margin:auto}
h1{width:127px;height:69px;background:url(../images/logo.png);text-indent:-9999px;float:left;margin-top:5px}
h1>a{display:block;width:127px;height:69px}

.gnb{margin-top:45px;overflow:hidden;float:right;position:relative;z-index:5}
.gnb h2{position:absolute;top:-9999px;left:-9999px}
.gnb_list>li{float:left}
.gnb>.gnb_list>li>a{font-family:'Mukta', sans-serif;display:block;width:145px;font-size:18px;height:40px;text-align:center;color:#fff}
.scrolldown{color:#222}
.gnb_list>li>ul{width:145px;padding:13px 10px 0 10px;height:210px;line-height:30px;box-sizing:border-box}
.gnb_bg{background:#fff;height:210px;position:absolute;width:100%;z-index:4;box-shadow:5px 5px 5px rgba(0,0,0,0.2);box-sizing: border-box;border-top:1px solid #f0f0f0}
.gnb_list>li:hover>a{border-bottom:3px solid #d0112b;box-sizing:border-box}
.gnb_list>li>ul>li>a:hover{color:#d0112b;font-weight:bold}
.gnb_list>li>ul:hover{background:#f0f0f0}

/*메뉴호버*/
.gnb_list>li>ul{display:none}
.gnb_bg{display:none}
/* 스크롤다운,메뉴호버 됐을때!*/
/*.header_bottom_wrap{background:rgba(255,255,255,1)}*/

.top_menu_wrap{position:absolute;width:100%;top:0;font-size:12px}
.top_menu{width:1200px;margin:auto;position:relative}
.top_menu a{color:#fff}
.top_menu_list{overflow:hidden;float:right;margin-top:10px}
.top_menu_list li{float:left;line-height: 20px}
.tm_grade,.tm_login,.tm_join,.tm_sitemap{margin-right:20px}
.tm_grade{width:80px;height:20px;border:1px solid #fff;border-radius:20px;text-align:center;box-sizing:border-box}
.tm_grade a{color:#222;display:block;line-height:17px;color:#fff}
.tm_grade:hover{background:#55b0ff;border-radius: 20px;border:1px solid #55b0ff}
.tm_grade:hover a{color:#fff}
.tm_grade_content{position:absolute;top:0px;right:340px;width:550px;background:#fff;border:3px solid #4cbbff;padding:50px 40px;box-sizing:border-box;display:none;z-index:100}
.tm_grade_content h3{font-size:25px;margin-bottom:30px}
.tm_grade_content p{line-height:30px}
.tm_grade_content p:before{content:"· "}
.tm_table_title{margin:20px 0 10px}
.lpoint_table{width:460px;text-align:center;line-height:30px;border-top:1px solid #e0e0e0;border-left:1px solid #e0e0e0;margin-bottom:20px;box-sizing:border-box}
.lpoint_table th{width:190px;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;box-sizing:border-box}
.lpoint_table td{border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;box-sizing:border-box}
.lpoint_table .tr_1{background:#e0e0e0}
.lotte_link:hover{text-decoration: underline}
.tm_grade_content .exit{display: block;width:30px;height:30px;background:url(../images/exit.png) no-repeat;text-indent: -9999px;position:absolute;top:20px;right:20px}

/*location_bar*/
.location_bar_bg{width:100%;height:35px;transition:background 0.2s}
.lo_scrolldown{background:#fff;border-top:1px solid #f0f0f0;box-shadow:5px 5px 5px rgba(0,0,0,0.2)}
.location_bar{width:1200px;margin:auto}
.location_bar ul{overflow:hidden;line-height:35px}
.location_bar li{float:left}
.location_bar>ul>li>a{color:#fff;position:relative}
.depth1>a,.depth2>a{color:#fff;position:relative;padding-right:20px}
.location_bar .home:after,.location_bar .depth1:after{content:">";margin:10px;color:#fff}
.location_bar .scroll_loca:after{content:">";margin:10px;color:#222}
.depth1>a img,.depth2>a img{transition:0.2s;position:absolute;right:0;margin-top:10px}
.depth1>a:hover img,.depth2>a:hover img{transform:rotate(-180deg)}
.depth1_menu,.depth2_menu{position:absolute;background:#fff;border:1px solid #e0e0e0;padding:15px;margin-left:-20px}
.depth1_menu li,.depth2_menu li{clear:both;line-height:25px}
.depth1_menu>li>a:hover,.depth2_menu>li>a:hover{color:#d0112b;font-weight:bold}
.depth1_menu,.depth2_menu{display:none}
.location_bar .currently{font-weight:bold}

.title{height:450px;box-sizing:border-box}
.title_txt{display:none}
.title h2{padding-top:230px;font-weight:normal;font-size:25px;text-align:center;color:#fff}
.title p{text-align:center;margin-top:20px;color:#fff}
.content{padding-bottom:150px}

/*footer*/
.top_btn a{width:100px;height:50px;display:block;background:url(../images/top_btn.png);text-indent:-9999px;margin:auto}
.footer_wrap{background:#fff3e2;padding:40px 0}
#footer{width:1200px;margin:auto;position:relative}
#footer ul{overflow:hidden}
.footer_top li{float:left}
.footer_term:after{content:"|";margin:10px}
.footer_term span{font-weight:bold;color:#166936}

.family_site{margin-top:-20px;float:right;position:relative}
.family_site h3{float:left}
.family_site h3 a{display:block;font-weight:normal;font-size:15px;width:200px;background:#fff url(../images/familysite_more.png) no-repeat 170px;border-radius:15px;border:1px solid #e0e0e0;line-height:30px;padding-left:15px;box-sizing:border-box;color:#a0a0a0}
.btn_go{display:block;width:60px;line-height:30px;background:#166936;border-radius:15px;text-align:center;color:#fff;float:left;margin-left:10px}
.family_site ul{position:absolute;top:-260px;padding:15px;box-sizing:border-box;line-height:25px;background:#fff;width:200px;border:1px solid #e0e0e0}
.family_site ul{display:none} /*패밀리사이트 클릭*/

.footer_txt{margin-top:30px}
.line1,.line2{overflow:hidden;line-height:30px}
.line1 address,.line1 p,.line2 p{float:left}
.after:after{content:"|";margin:10px}
.copyright{font-weight:bold;line-height:30px}
.validator{position:absolute;right:0;top:100px}
